@charset "utf-8";
.loca-mapwrap {
	position: relative;
}
.loca-maplistwrap {
	position: absolute;
	right: 50px;
	top: 30px;
}
#loca_div {
	width: 300px;
	position: relative;
	overflow: hidden;
	transition: 500ms;
}
.loca-maplistwrap .loca-div {	
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
}
.loca-maplistwrap .loca-span {
	position: absolute;
	top: 0;
	right: -31px;
	width: 30px;
	height: 30px;
	background-color: white;
	line-height: 30px;
	text-align: center;
	border-left: 1px solid #cacaca;
}
.loca-searchWrap {
	height: 60px;
	padding-right: 150px;
	position: relative;
}
.loca-searchWrap button {
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	height: 60px;
}
.loca-searchWrapin {
	height: 40px;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.loca-searchWrapin input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
}