@charset "utf-8";
@media (min-width:1200px) and (max-width:1400px) {
	#container {
		width: 1190px;
	}
	.mainitemwrap {
		width: 760px;
	}
	.mainitemwrap2 {
		width: 950px;
	}
}
@media (min-width:1400px) and (max-width:1600px) {
	#container {
		width: 1380px;
	}
	.mainitemwrap {
		width: 950px;
	}
	.mainitemwrap2 {
		width: 1140px;
	}
}
@media (min-width:1600px) {
	#container {
		width: 1570px;
	}
	.mainitemwrap {
		width: 1140px;
	}
	.mainitemwrap2 {
		width: 1330px;
	}
}