<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="static/css/pcss.css"/>
		<link rel="stylesheet" type="text/css" href="static/css/chat_navbar.css"/>
		<link rel="stylesheet" type="text/css" href="static/common/font-awesome-4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="static/common/mescroll/mescroll.min.css"/>
		<link rel="stylesheet" type="text/css" href="static/css/chat_index/base.css"/>
	</head>
	<body>
		<!-- 遍历用的template,数据基本上都是请求完，+1，然后到底部或顶部走完一遍 -->
		<template id="bigcard">
			<div class="bigcardwrap">
				<div>
					<span class="bigcard-avatar"></span>
					<span class="bigcard-nickname">这是nickname</span>
				</div>
				<div class="dec">
					打扫房间立刻电视机分厘卡就看电视了房间dslfmlksdjlkfsdjlkf单独分开隔离开关gfdgkdflgk打扫房间立刻电视机分厘卡就看电视了房间dslfmlksdjlkfsdjlkf单独分开隔离开关gfdgkdflgk
				</div>
				<div class="imgs">
					<div v-for="(v,i) in 11" v-if="i<=9-1">
						<p class="imgwrap" :style="{height:heights}">
							<span v-if="i==9-1" :style="{lineHeight:heights}">+11</span>
						</p>						
					</div>
				</div>
			</div>
		</template>
		<template id="cards">
			<div class="cardswrap">
				<div class="cards-avatar">
					<div>
						<p></p>
					</div>
				</div>
				<div class="cards-nick-dec">
					<div>
						<p>
							<h4>title</h4>
						</p>
						<p class="dec">
							这里是获取的消息内容
						</p>
					</div>
				</div>
			</div>
		</template>
		<template id="filecards">
			<div class="filecardswrap">
				<div class="filecards-avatar">
					<div>
						<p></p>
					</div>
				</div>
				<div class="filecards-nick-dec">
					<div style="max-width: 150px;margin-right: 40px;">
						<p>
							<h4>title</h4>
						</p>
						<p class="dec">
							2000MB
						</p>
					</div>
				</div>
			</div>
		</template>
		<template id="leftchatinfo">
			<div>
				<div style="display: table;">
					<div class="chat-avatar">
						<div class="chat-avatarin"></div>
					</div>
					<div class="chat-dec">
						<div class="chat-nick">nickname</div>
						<div class="chat-decin chat-dec-text" style="border-radius: 0px 20px 20px 20px;" :style="{maxWidth:getsign=='win'?'500px':'200px'}" v-if="type=='text'">
							这里是聊天信息
							<img src="static/imgs/chat_index/u=1125723489,855057867&fm=26&gp=0.jpg" alt="">
						</div>
						<div class="chat-decin" style="padding: 5px;border-radius: 0px 20px 20px 20px;" :style="{maxWidth:getsign=='win'?'500px':'200px'}" v-if="type!='text'">
							<filecards></filecards>
						</div>
					</div>
				</div>
			</div>
		</template>
		<template id="rightchatinfo">
			<div>
				<div style="display: table;">
					<div class="chat-dec">
						<div class="chat-nick" style="float: right;">nickname</div>
						<div style="clear: both;"></div>
						<div class="chat-decin chat-dec-text" style="float: right;border-radius: 20px 0px 20px 20px;" :style="{maxWidth:getsign=='win'?'500px':'200px'}" v-if="type=='text'">
							这里是聊天信息
							<img src="static/imgs/chat_index/u=1125723489,855057867&fm=26&gp=0.jpg" alt="" width="100%">
						</div>
						<div class="chat-decin" style="float: right;padding: 5px;border-radius: 20px 0px 20px 20px;" :style="{maxWidth:getsign=='win'?'500px':'200px'}" v-if="type!='text'">
							<filecards></filecards>
						</div>
					</div>
					<div class="chat-avatar">
						<div class="chat-avatarin"></div>
					</div>
				</div>
			</div>
		</template>
		<!-- 其他的vue template 人员或群组列表 -->
		<template id="all-comment">
			<div class="mescroll1">
				<div class="mescrollfix" v-if="mescroll1">加载中。。。</div>
				<div id="mescroll1" class="mescroll">
					<div class="chattip" v-if="tiplist.length!=0">消息提示</div>
					<div class="chatad" style="background-image: url(static/imgs/chat_index/u=1125723489,855057867&fm=26&gp=0.jpg);">广告提示</div>
					<div v-for="(v,i) in 30" class="thecards" :class="i == 30-1?'cardnobottom':''" @click="shopchatinfo">
						<cards></cards>
					</div>
				</div>				
			</div>
		</template>
		<template id="all-dynamic">
			<div class="mescroll2">
				<div class="mescrollfix" v-if="mescroll2">加载中。。。</div>
				<div id="mescroll2" class="mescroll" style="visibility: hidden;">
					<div class="chattip" v-if="tiplist.length!=0">消息提示</div>
					<div v-for="(v,i) in 30" class="thecards" :class="i == 30-1?'cardnobottom':''">
						<bigcards></bigcards>
					</div>
				</div>
			</div>
		</template>
		<template id="all-user">
			<div class="mescroll3">
				<div class="mescrollfix" v-if="mescroll3">加载中。。。</div>
				<div id="mescroll3" class="mescroll">
					<div class="chattip" v-if="tiplist.length!=0">消息提示</div>
					<div v-for="(v,i) in 30" class="thecards" :class="i == 30-1?'cardnobottom':''">
						<cards></cards>
					</div>
				</div>
			</div>
		</template>
		<!-- 
			##
			app 
		-->
		<div id="app" style="visibility: hidden;min-height: 500px;">
			<div class="chatwrap" :style="{minHeight:500+'px', height:winheight+'px',minWidth:getsign=='win'?'1000px':'100%'}">
				<!-- 
				##人员或群组列表 -->
				<div class="chatleft">
					<div class="chatleftin" :style="{width:getsign=='win'?'300px':winwidth+'px'}">
						<div class="chatleft-top">
							<div class="chatleft-avatar">
								<div class="chatleft-avatarin">
									<p></p>
								</div>
							</div>
							<div class="chatleft-searchwrap">
								<div class="chatleft-inputwrap">
									<p data-type="input">
										<input type="text" placeholder="关键词" autocomplete="off">
									</p>
									<p data-type="icon">
										<span>
											<i class="fa fa-search"></i>
										</span>
									</p>
								</div>
							</div>
							<div class="chatleft-button">
								<div class="chatleft-buttonin">
									<i class="fa fa-ellipsis-h"></i>
								</div>
							</div>
						</div>
						<div class="chatleft-list" :style="{minHeight:500-140+'px',height:winheight-140+'px'}"><!-- 设置is属性绑定，tab切换的时候，以第一次打开为基准，去加载mescroll -->
							<div class="chatlist" :style="setnav==1?'height:100%':'height:0'">
								<div v-if="listcom1=='allcommentVue'" style="height: 100%;">
									<allcomment-vue @openchat='openchat'></allcomment-vue>
								</div>
							</div>
							<div class="chatlist" :style="setnav==2?'height:100%':'height:0'">
								<div v-if="listcom2=='alldynamicVue'" style="height: 100%;">
									<alldynamic-vue></alldynamic-vue>
								</div>
							</div>
							<div class="chatlist" :style="setnav==3?'height:100%':'height:0'">
								<div v-if="listcom3=='alluserVue'" style="height: 100%;">
									<alluser-vue></alluser-vue>
								</div>
							</div>
						</div>
						<div class="navbars">
							<div :lang="setnav==1?'active':''" @click="setnav = 1;setcomShow('allcommentVue','listcom1','listcom1')">
								<p><i class="fa fa-comment"></i></p>
								<div>消息</div>
							</div>
							<div :lang="setnav==2?'active':''" @click="setnav = 2;setcomShow('alldynamicVue','listcom2','listcom2')">
								<p><i class="fa fa-ellipsis-h"></i></p>
								<div>动态</div>
							</div>
							<div :lang="setnav==3?'active':''" @click="setnav = 3;setcomShow('alluserVue','listcom3','listcom3')">
								<p><i class="fa fa-user"></i></p>
								<div>通讯录</div>
							</div>
						</div>						
					</div>
				</div>
				<!-- 
				##视窗 -->
				<div class="chatright" style="width: 100%;" :style="(getsign=='win'?'position:relative;':'position:fixed;top:0;width:100%;height:100%;right:'+fixleft)">
					<div v-if="firstshade == 0" style="position: absolute;top: 0;left: -1px;width: 100%;height: 100%;z-index: 3;background-color: #eee;overflow: hidden;"><!-- 起始遮罩 -->
						<div class="chatrighttop">
							<p>
								<i v-if="getsign!='win'" class="fa fa-chevron-left" style="margin-left: -20px;margin-right: 15px;" @click="fixleft = '-7000px'"></i>
								聊天系统
							</p>
						</div>
						<div style="height: 100%;background-color: white;line-height: 350px;text-align: center;color: #ddd;font-size: 300px;">
							<i class="fa fa-commenting-o"></i>
						</div>
					</div>
					<!-- //
					消息部分 -->
					<div class="chatrightin" :style="{width:winwidth-301+'px',minWidth:getsign=='win'?'699px':'100%'}">
						<div class="chatright-chatbox">
							<div class="chatrighttop">
								<p>
									<i v-if="getsign!='win'" class="fa fa-chevron-left" style="margin-left: -20px;margin-right: 15px;" @click="fixleft = '-7000px'"></i>
									title
								</p>
							</div>
							<div :style="{height:winheight-260+'px',minHeight:500-260+'px'}" style="background-color: #fff;">
								<!-- mescroll处理滑动，切换联系人的时候，初始化mescroll页码，清空消息就行 -->
								<div id="chatmescroll" class="chatright-chatboxin">
									<div style="padding-bottom: 60px;">
										<div v-for="(v,i) in chatlist">
											<div v-if="v.type=='text'">
												<div v-if="v.from=='other'" class="chatbox-other">
													<leftchatinfo :type="v.type"></leftchatinfo>
												</div>
												<div v-if="v.from=='me'" class="chatbox-me">
													<rightchatinfo :type="v.type"></rightchatinfo>
												</div>
												<div style="clear: both;"></div>
											</div>
											<div v-if="v.type=='thefile'">
												<div v-if="v.from=='other'" class="chatbox-other">
													<leftchatinfo :type="v.type"></leftchatinfo>
												</div>
												<div v-if="v.from=='me'" class="chatbox-me">
													<rightchatinfo :type="v.type"></rightchatinfo>
												</div>
												<div style="clear: both;"></div>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="chatright-filebox" :style="{height:fileboxheight}"><!-- 文件盒子 -->
								<div class="chatrighttop" style="background-color: #eee;">
									<p>文件助手</p>
								</div>
								<div :style="{height:winheight-260+'px',minHeight:500-260+'px'}" style="background-color: #fff;">
									<!-- mescroll处理滑动 -->
									<div id="filebox" class="fileboxin">
										<div v-for="(v,i) in 15" style="padding: 5px;" :style="{borderBottom: i==15-1?'0':'1px solid #ccc'}">
											<filecards></filecards>											
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div class="chatright-textwrap">
							<p>
								<i class="fa fa-smile-o"></i>
								<i class="fa fa-picture-o" @click="getimg"></i>
								<i class="fa fa-folder-o" @click="showfilebox"></i>
							</p>
							<div class="chatright-textarea">
								<div id="cont" class="chatright-textareain" contenteditable="true"></div>
							</div>
							<button type="button">发送</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 遮罩 -->
			<div class="fix-shade" accesskey="文本插入图片时的加载遮罩" v-if="shadeshow">
				正在插入图片。。。
			</div>
		</div>
		<script src="static/common/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/common/mescroll/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 遍历用的组件 -->
		<script src="static/js/chat_index/component/cards.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/chat_index/component/filecards.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/chat_index/component/bigcard.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/chat_index/component/leftchatinfo.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/chat_index/component/rightchatinfo.js" type="text/javascript" charset="utf-8"></script>
		<!-- vue组件 -->
		<script src="static/js/chat_index/allcomment.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/chat_index/alldynamic.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/chat_index/alluser.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/chat_index/base.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
