<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="static/css/pcss.css"/>
		<link rel="stylesheet" type="text/css" href="static/common/mescroll/mescroll.min.css"/>
		<link rel="stylesheet" type="text/css" href="static/common/font-awesome-4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="static/css/index_wshy_buiness/base.css"/>
	</head>
	<body>
		<div id="app" style="max-width: 750px;margin: auto;visibility: hidden;">
			<div class="toppart">
				<div>
					<div>
						<div class="searchinput">
							<i class="search fa fa-search"></i>
							<input type="text" placeholder="请输入关键词搜索">
						</div>							
					</div>
				</div>
			</div>
			<div id="mesapp" class="mescroll">
				<div style="max-width: 750px;margin: auto;">
					<div style="position: relative;background-color: white;padding-top: 0.6rem;margin-bottom: 0.3rem;">
						<i class="qrcode fa fa-qrcode"></i>
						<p class="avatar">
							<img src="static/imgs/index_wshy_index/u=1125723489,855057867&fm=26&gp=0.jpg" alt="">
						</p>
						<p class="nickname">nickname</p>
						<p class="dec">dectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitledectitle</p>
						<div class="focus_attentions">
							<div>
								<p>全部关注</p>
								<div>5000</div>
							</div>
							<div>
								<p>全部粉丝</p>
								<div>5000</div>
							</div>
						</div>
					</div>
					<!-- 内容,左右做浮动，外容器清除，图文之外的大的容器做浮动，只有图片的时候，循环那层容器变成块状元素 -->
					<div v-for="v in items" :style="v.dec==''&&v.imgs!=''?'display:inline-block;':''" onclick="javascript:location.href = 'index_wshy_detail.html'">
						<div v-if="v.dec!=''&&v.imgs!=''">
							<div class="times"><span>2020-03-05&nbsp;&nbsp;发布</span></div>
							<div class="itemwrap">
								<div class="item itemradius">
									<div class="itemimg">
										<img :src="v.imgs" alt="">
									</div>
									<div class="iteminfo">
										<div class="itembuiness">
											<p>
												<img :src="v.imgs" alt="">
											</p>
											<span>商家名字buinesstitle</span>
										</div>
										<p>{{v.dec}}</p>
										<span class="price">￥{{v.price}}</span>
										<span class="share">一键转发</span>
									</div>
								</div>								
							</div>
						</div>
						<div v-if="v.dec==''&&v.imgs!=''"  style="float: left;">
							<div class="itemwrap">
								<div class="itemimg imgonly itemradius">
									<img :src="v.imgs" alt="">
								</div>
							</div>
						</div>
						<div v-if="v.dec!=''&&v.imgs==''" style="float: left;">
							<div class="times" style="margin-right: 0;"><span>2020-03-05&nbsp;&nbsp;发布</span></div>
							<div class="itemwrap" style="height: auto;">
								<div class="iteminfo deconly itemradius">
									<p>{{v.dec}}</p>
								</div>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div v-if="v.sevice.length!=0">
							<div style="margin: -0.1rem 0.2rem 0.3rem;background-color: white;padding: 0.3rem;border-radius: 0.1rem;">
								<span v-for="vs in v.sevice">
									<i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;{{vs==1?'7天无条件退换':''}}
									{{vs==2?'1年保修':''}}
									{{vs==3?'商家担保':''}}&nbsp;&nbsp;
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 遮罩层 -->
		</div>
		<script src="static/common/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/common/mescroll/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="static/js/index_wshy_buiness/base.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
