@charset "utf-8";
html {
	background-color: #eee;
}
#app {
	font-size: 0.2rem;
	 -webkt-text-size-adjust:none;
}
.mescroll {
	position: fixed;
	top: 1.4rem;
	left: 0;
	bottom: 0;
	height: auto;
}
.toppart {
	height: 0.8rem;
}
.toppart>div{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.toppart>div>div{
	max-width: 7.5rem;
	height: 0.65rem;
	margin: auto;
	padding-top: 0.15rem;
	background-color: #eee;
}
.searchinput {
	height: 0.5rem;
	margin: 0 0.25rem;
	background-color: white;
	border-radius: 0.4rem;
	padding: 0 0.3rem 0 0.45rem;
	position: relative;
	overflow: hidden;
}
.searchinput input{
	width:100%;
	font-size: 0.18rem;
	padding: 0.16rem 0;
	vertical-align: top;
}
.search {
	position: absolute;
	top: 0;
	margin-left: -0.28rem;
	color: #c8c8c8;
	font-size: 0.18rem;
	line-height: 0.53rem;
}
@media (max-width:414px) and (min-width:374px) {
	.searchinput input{
		padding: 0.13rem 0.01rem;
	}
}
@media (max-width:374px) and (min-width:340px) {
	.searchinput input{
		padding: 0.11rem 0.03rem;
	}
}
@media (max-width:340px) {
	.searchinput input{
		padding: 0.11rem 0.06rem;
	}
}
.searchcommon {
	height: 0.6rem;
	margin-top: 0.15rem;
	text-align: right;
	padding: 0.1rem .3rem 0;
}
.searchinfo {
	width: 6rem;
}
.searchinfo p {
	float: left;
	margin-right: 0.15rem;
	color: #777;
}
.searchinfo i {
	margin: -0.0rem .2rem 0;
	vertical-align: middle;
	height: 0.125rem;
	position: relative;
	
}
.searchcommons {
	display: inline-block;
	color: #777;
}
/* item */
.times {
	margin:0 0.2rem 0.3rem;
	color: #666;
	background-color: white;
	border-radius: 0.05rem;
}
.times span {
	display: inline-block;
	background-color: #eee;
	padding-right: 0.2rem;
}
.itemwrap {
	margin-bottom: 0.4rem;
}
.item {
	margin: 0 .2rem;
	height: 2.3rem;
	background-color: white;
}
.itemradius {
	border-radius: 0.1rem;
	position: relative;
	overflow: hidden;
	
}
.itemimg {
	width: 2.3rem;
	height: 2.3rem;
	background-color: #0099FF;
	float: left;
}
.imgonly {
	margin-left: 0.2rem;
	width: 1.623rem;
	height: 1.623rem;
	margin-bottom: 0.3rem;
}
.itemimg img,.itembuiness p img {
	width: 100%;
	height: 100%;
}
.iteminfo {
	float: left;
	width: 4.5rem;
	margin-left: .2rem;
}
.iteminfo p {
	height: 0.7rem;
	line-height: 0.37rem;
	letter-spacing: 0.01rem;
	margin: 0.1rem 0.1rem 0 0;
	position: relative;
}
.iteminfo p{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.iteminfo p{
	display: -o-box;
	-o-box-orient: vertical;
	-o-line-clamp: 2;
	overflow: hidden;
}
.iteminfo p{
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-line-clamp: 2;
	overflow: hidden;
}
.iteminfo p{
	display: -ms-box;
	-ms-box-orient: vertical;
	-ms-line-clamp: 2;
	overflow: hidden;
}
.iteminfo .price {
	display: inline-block;
	margin-top: 0.45rem;
}
.iteminfo .share {
	float: right;
	padding: 0.05rem .3rem;
	color: #666;
	border-left: 1px solid #888;
	margin: 0.4rem 0.2rem 0 0;
	background-color: #eee;
	font-weight: bolder;
}
.deconly {
	width: 6.7rem;
	padding: 0.2rem 0.2rem 0.35rem;
	background-color: white;
	border-top: 1px solid #ccc;
	margin-bottom: 0.3rem;
}
.itembuiness {
	margin: 0.2rem 0 0;
}
.itembuiness p {
	width: 0.35rem;
	height: 0.35rem;
	background-color: white;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.1rem;
	margin-top: -0.02rem;
}
.itembuiness span {
	color: #666;
	display: inline-block;
	padding-top: 0.03rem;
}
/* searchcommonswrap */
.searchcommonswrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 2;
	transition: 300ms;
	opacity: 0;
	visibility: hidden;
}
/* searchcommonsbox */
.searchcommonsbox {
	position: fixed;
	z-index: 3;
	right: 0;
	top: 0;
	height: 100%;
	transition: 300ms;
}
.searchcommonsbox>div {
	height: 100%;
	width: 6.3rem;
	background-color: white;
	position: relative;
}
.searchcommonsbox .closeicon {
	position: absolute;
	right: 0.2rem;
	top:0.2rem;
	font-size: 0.4rem;
	z-index: 1;
}
.searchcommonsbox>div>div{
	position: relative;
	overflow-y: auto;
	height: 100%;
}
.searchcommonsbox .filtericon {
	padding: 0.2rem 0;
	font-size: 0.3rem;
	position: absolute;
	width: 100%;
	background-color: #eee;
	top: 0;
	left: 0;
	text-indent: 0.15rem;
}
.searchcommonsbox .filtericon i {
	margin-right: 0.1rem;
}
.AreaWrap {
	padding-top: 0.3rem;
	padding-left: 0.3rem;
}
.AreaWrap .Area {
	display: inline-block;
	width: 3rem;
	border: 1px solid #999;
	border-radius: 0.04rem;
	padding: 0 .25rem;
}
.AreaWrap input {
	width: 1.3rem;
	padding: 0.1rem 0;
	text-align: center;
}
.AreaWrap span {
	width: 0.1rem;
	display: inline-block;
	margin: 0 0.08rem;
	line-height: 0.4rem;
}
/* 
	{
		@css动画流程：静态，然后动画赋值测试，然后再点击事件判断来动画赋值
	}
 */
@keyframes searchboxshow{/* 静态没有的属性这里存在的话，运行完动画保留最后一帧也会立马恢复静态的，得要两个都有才行 */
	0%{
		visibility: hidden;
	}
	1%{
		visibility: visible;
		opacity: 0;
	}
	100%{
		visibility: visible;
		opacity: 1;
	}
}
@keyframes searchboxclose{
	0%{
		visibility: visible;
		opacity: 1;
	}
	99%{
		visibility: visible;
		opacity: 0;
	}
	100%{
		visibility: hidden;
	}
}
.submitArea {
	padding: 0.15rem 2.16rem;
	background-color: #666;
	color: white;
	margin: 0.3rem 0 0 0.3rem;
}
/* 清除浮动 */
.searchcommon:after,.item:after,.itemin:after {
	content: "";
	display:block;
	clear: both;
}
@media (max-width:500px) and (min-width:374px) {
	.searchinfo i {
		margin: -0.05rem .2rem 0;
	}
	.itembuiness {
		margin: 0.15rem 0 0;
	}
}
@media (max-width:374px) {
	.searchinfo i {
		margin: -0.11rem .2rem 0;
	}
	.iteminfo .share {
		margin: 0.35rem 0.2rem 0 0;
	}
	.itembuiness {
		margin: 0.1rem 0 0;
	}
}
/* 按钮波纹 */
.waves{
	position:relative;
	cursor:pointer;
	display:inline-block;
	overflow:hidden;
	text-align: center;
	-webkit-tap-highlight-color:transparent;
	z-index:1;
}
.waves .waves-animation{
	position:absolute;
	border-radius:50%;
	width:25px;
	height:25px;
	opacity:0;
	background:rgba(255,255,255,0.3);
	transition:all 0.7s ease-out;
	transition-property:transform, opacity, -webkit-transform;
	-webkit-transform:scale(0);
	transform:scale(0);
	pointer-events:none
}
