@charset "utf-8";
.navbars {
	width: 100%;
	height: 80px;
	background-color: #eee;
	border-top: 1px solid #ccc;
	z-index: 2;
	display: flex;
}
.navbars>div{
	height: 100%;
	width: 33.333%;
}
.navbars>div[lang='active'] {
	background-color: #aee5ff;
}
.navbars>div p {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin:10px auto 0;
	line-height: 40px;
	text-align: center;
	color: slateblue;
}
.navbars>div p i {
	font-size: 30px;
}
.navbars>div div {
	text-align: center;
}
@media (max-width:374px) {
	.navbars>div div {
		transform: scale(0.8);
		margin-top: -5px;
	}
}