@charset "utf-8";
#app {
	font-size: 0.2rem;
	 -webkt-text-size-adjust:none;
}
.mescroll {
	position: fixed;
	top: 0.8rem;
	left: 0;
	bottom: 0.8rem;
	height: auto;
}
.toppart {
	height: 0.8rem;
}
.toppart>div{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.toppart>div>div{
	max-width: 7.5rem;
	height: 0.65rem;
	margin: auto;
	padding-top: 0.15rem;
	background-color: #eee;
}
.searchinput {
	height: 0.5rem;
	margin: 0 0.25rem;
	background-color: white;
	border-radius: 0.4rem;
	padding: 0 0.3rem 0 0.45rem;
	position: relative;
	overflow: hidden;
}
.searchinput input{
	width:100%;
	font-size: 0.18rem;
	padding: 0.16rem 0;
	vertical-align: top;
}
.search {
	position: absolute;
	top: 0;
	margin-left: -0.28rem;
	color: #c8c8c8;
	font-size: 0.18rem;
	line-height: 0.53rem;
}
@media (max-width:414px) and (min-width:374px) {
	.searchinput input{
		padding: 0.13rem 0.01rem;
	}
}
@media (max-width:374px) and (min-width:340px) {
	.searchinput input{
		padding: 0.11rem 0.03rem;
	}
}
@media (max-width:340px) {
	.searchinput input{
		padding: 0.11rem 0.06rem;
	}
}

/* swiper */
#swipers {
	height:3rem;
	background-color: #e8e8e8;
}
#swipers p {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 3rem;
	text-align: center;
	font-size: 0.9rem;
	color: white;
	font-weight: bolder;
	z-index: 3;
}
.swiperc {
	height: 100%;
}
.swiperc img {
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullet {
	width: 0.1rem;
	height: 0.1rem;
}
.swiper-button-prev,.swiper-button-next {
	width: 0.15rem;
	height: 0.3rem;
}
.swiper-button-prev:after,.swiper-button-next:after {
	font-size: 0.5rem;
}
.swiper2wrap{
	padding-left: 0.6rem;
	background-color: #feffa5;
	position: relative;
	color: #cc7100;
	font-weight: bolder;
}
#swipers2{
	height:0.6rem;
	font-size: 0.18rem;
	line-height: 0.6rem;
}
.tip {
	position: absolute;
	top: 0;
	left: 0;
	width: 0.6rem;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	font-size: 0.3rem;
}

/* menuitemwrap */
.menuitem {
	font-size: 0.25rem;
	float: left;
	width: 25%;
	text-align: center;
	line-height: 0.8rem;
	height: 0.8rem;
	color: #007AFF;
	font-weight: bolder;
}
.menuitem i {
	margin-right: 0.2rem;
}
/* 公用 */
.bigtitle {
	text-align: center;
	line-height: 0.9rem;
	height: 0.9rem;
	background-color: #f1f1f1;
	font-size: 0.2rem;
	color: #6684c6;
	font-weight: bolder;
}
.nomore {
	background-color: transparent;padding: 0.3rem 0;
}
.items{
	float: left;
	width: 20%;
	height: 1.7rem;
}
.itemsavatar{
	width: 0.8rem;
	height: 0.8rem;
	background-color: #EEE;
	border-radius: 50%;
	margin: 0.3rem auto 0.2rem;
	position: relative;
	overflow: hidden;
}
.itemsavatar img {
	width: 100%;
	height: 100%;
}
.items p {
	font-size: 0.2rem;
	text-align: center;
	color: #666;
	padding: 0 0.1rem;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 清浮动 */
.menuitemwrap:after,.itemswrap:after {
	content: '';
	display: block;
	clear: both;
}
